html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #CCFFCC ; /* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
	font-size: 1.1em;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
	width: 80vw;
	min-height: 680px;
	background: #000;
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 17vw;
	background: #1996FC;
	font-size: 0;
	color: #000;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	cursor: default;
	transform: rotateX(1turn);
	background: #00ff00;
	transition: 0.1s;
}

.deck .card.show {
	font-size: 3em;
}

.deck .card.match {
	cursor: default;
	background: #FFFF00;
	font-size: 3em;
	animation: splash 0.45s cubic-bezier(.36,.07,.19,.97);
}

.deck .card.wrong {
	cursor: default;
	background: #FF5722;
	font-size: 3em;
	animation: shake 0.45s cubic-bezier(.36,.07,.19,.97);
}


/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	color: royalblue;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.stars .minus {
	color: #e8315a;
}

/* Animations section */
/* _____________________ */

.kill-click {
	pointer-events: none;
}

/* Animation for wrong card */
@keyframes shake {
	10%, 90% {
		transform: translate3d(-2px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-2px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(2px, 0, 0);
	}
}

/* Animation for right card */
@keyframes splash {
	10%, {
		transform: scaleY(1.2);
	}

	20%,  {
		transform: scaleY(0.9);
	}

	50% {
		transform: scaleY(0.5);
	}

	70% {
		transform: scaleY(1.3);
	}
}

/* Slide down animation for modal window */
@keyframes slideDown {
	from {
		margin-bottom: 100%;
		height: 1%;
	}
	to {
		margin-bottom: 0%;
		height: 100%;
	}
}

/* 3D animation for modal content */
@keyframes rainbow {
	from {
		animation: slideDown 1s;
		transform: rotate3d(1, 1, 1, 540deg);
		opacity: 0;
	}
	30% {
		color: black;
		background-color: #00FF00;
	}
	60% {
		color: black;
		background-color: #FF7F00;
	}
	80% {
		color: black;
		background-color: #FFFF00;
	}
	90% {
		transform: rotate3d(0, 0, 0, 0deg);
	}
	to {
		opacity: 1;
	}
}

/* Flashing button keyframes */
@keyframes glowing-close {
	0% { color: #B20000; text-shadow: 0 0 3px #B20000; }
	50% { color: #FF0000; text-shadow: 0 0 10px #FF0000; }
	100% { color: #B20000; text-shadow: 0 0 3px #B20000; }
}

@keyframes glowing-new {
	0% { color: #cbec10; text-shadow: 0 0 3px #9c9c9c; }
	50% { color: #cbec10; text-shadow: 0 0 20px #673AB7; }
	100% { color: #cbec10; text-shadow: 0 0 3px #9c9c9c; }
}


/* Modal end-game display  */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	overflow: scroll;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	animation: rainbow 3s;
}

.modal-content {
	text-align: center;
	background-color: #66CCFF;
	margin: 10% auto;
	border: 1px solid black;
	width: 55vw;
	height: 500px	;
}

.buttons-box {
	display: flex;
	flex: 0 0 100%;
}

.modal-buttons {
	user-select: none;
	padding: 15px;
	margin: 15px;
	color: #EF5350;
	display: inline-block;
	margin: auto;
	font-size: 2em;
	font-weight: bold;
}

.modal-buttons:hover {
	color: lightseagreen;
	text-decoration: none;
	cursor: pointer;
	transform: scaleX(1.1);
	transition: ease-in-out 0.2s;
}

.modal-buttons:nth-of-type(1):hover {
 color: red;
}

.modal-buttons:nth-of-type(1) {
	float: left;
}

.modal-buttons:nth-of-type(2) {
	float: right;
	animation: glowing-new 700ms infinite;
}

.winner-text {
	justify-content: space-around;
	margin-top: 2em;
	user-select: none;
}

.add-highscore [type=text] {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
}

.add-highscore [type=text]:focus {
	outline: none;
	border: 1px solid red;
	transition: 0.4s linear;
	box-shadow: 0px 0px 8px #FF0000;
}

.add-highscore ::placeholder {
	color: white;
	text-align: center;
}

.add-highscore [type=submit] {
	background-color: #000;
	cursor: pointer;
	border: none;
	margin: 10px;
	padding: 10px;
	color: white;
}

.highscore {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}

.highscore li:nth-child(odd) {
	background: #215c8e;
	color: white;
}

.highscore li:nth-child(even) {
	background: #6e4bcc;
	color: white;
}

.header-score-reset {
	cursor: pointer;
	padding: 10px;
	background: #ECDB54;
	user-select: none;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: red;
}

.score-reset {
	display: none;
}

.header-score-reset:hover .score-reset {
	user-select: none;
	display: block;
	background: black;
	padding: 10px;
	margin-top: 20px;
	color: red;
	animation: glowing-close 700ms 4;
}


/* Media breakpoints */

@media screen and (max-width: 900px) {
	.deck{
		min-height: 660px;
	}
	.deck .card {
		width: 16vw;
		height: 125px;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 60vw;
	}
}

@media screen and (max-width: 680px) {
	.deck {
		width: 90vw;
		min-height: 600px;
	}
	.deck .card {
		width: 18vw;
		height: 100px;
	}
	.deck .card.match,
	.deck .card.show,
	.deck .card.wrong {
		font-size: 2em;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 70vw;
	}
}

@media screen and (max-width: 500px) {
	.deck {
		width: 98vw;
		min-height: 500px;
	}
	.deck .card {
		width: 19vw;
		height: 90px;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 80vw;
	}
}

@media screen and (max-width: 400px) {
	.deck {
		width: 98vw;
		min-height: 430px;
		padding: 10px;
	}
	.deck .card {
		width: 20vw;
		height: 80px;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 90vw;
	}
}