html {
		box-sizing: border-box;
}

*,
*::before,
*::after {
		box-sizing: inherit;
}

html,
body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
}

body {
		background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
		font-family: 'Coda', cursive;
}

.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
}

h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
		width: 80vw;
		min-height: 680px;
		background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
		padding: 32px;
		border-radius: 10px;
		box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 3em;
}

.deck .card {
		height: 125px;
		width: 17vw;
		background: #2e3d49;
		font-size: 0;
		color: #000;
		border-radius: 8px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
		transform: rotateY(0);
		background: #00FFFF;
		cursor: default;
}

.deck .card.show {
		font-size: 3em;
}

.deck .card.match {
		cursor: default;
		background: #FFFF00;
		font-size: 3em;
}
.deck .card.wrong {
		cursor: default;
		background: #FD0000;
		font-size: 3em;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
		text-align: left;
		width: 345px;
		margin-bottom: 10px;
}

.score-panel .stars {
		color: royalblue;
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: 0 5px 0 0;
}

.score-panel .stars li {
		list-style: none;
		display: inline-block;
}

.score-panel .restart {
		float: right;
		cursor: pointer;
}

.stars .minus {
	color: #e8315a;
}


/* Modal end-game display  */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0, 0, 0, 0.3);
	animation: slideDown 0.7s;
}

/* Slide down animation for modal window */
@keyframes slideDown {
	from {
		margin-bottom: 100%;
		height: 1%;
	}
	to {
		margin-bottom: 0%;
		height: 100%;
	}
}

/* 3D animation for modal content */
@keyframes rainbow {
	from {
		transform: rotate3d(1, 1, 1, 540deg);
		opacity: 0;
	}
	50% {
		color: black;
		background-color: #00FF00;
		border: 55px solid purple;
	}
	70% {
		color: black;
		background-color: #FF7F00;
		border: 55px solid blue;
	}
	80% {
		color: black;
		background-color: #FFFF00;
		border: 55px solid purple;
	}
	90% {
		transform: rotate3d(0, 0, 0, 0deg);
	}
	to {
		opacity: 1;
	}
}

.modal-content {
	text-align: center;
	background-color: #FFF;
	margin: 10% auto;
	border: 1px solid black;
	width: 55vw;
	height: 500px	;
	animation: rainbow 3s;
}

.buttons-box {
	display: flex;
	flex: 0 0 100%;
}

.modal-buttons {
	padding: 15px;
	margin: 15px;
	color: gray;
	display: inline-block;
	margin: auto;
	font-size: 2em;
	font-weight: bold;
}

.winner-text {
	justify-content: space-around;
	margin-top: 2em;
}

.highscore {
	list-style-type: none;
	padding-left: 0;
}

.highscore li:nth-child(odd) {
	background: gray;
	color: white;
}

.highscore li:nth-child(even) {
	background: blueviolet;
	color: white;
}

.modal-buttons:nth-of-type(1):hover {
 color: red;
}

.modal-buttons:nth-of-type(1) {
	float: left;
	animation: glowing-close 1500ms infinite;
}

.modal-buttons:nth-of-type(2) {
	float: right;
	animation: glowing-new 1500ms infinite;
}

/* Flashing button keyframes */
/* @keyframes glowing-close {
	0% { color: #B20000; text-shadow: 0 0 3px #B20000; }
	50% { color: #FF0000; text-shadow: 0 0 40px #FF0000; }
	100% { color: #B20000; text-shadow: 0 0 3px #B20000; }
}
 */
@keyframes glowing-new {
	0% { color: #20B2AA; text-shadow: 0 0 3px #20B2AA; }
	50% { color: #20B; text-shadow: 0 0 40px #20B2FF; }
	100% { color: #20B2AA; text-shadow: 0 0 3px #20B2AA; }
}

.modal-buttons:hover {
	color: lightseagreen;
	text-decoration: none;
	cursor: pointer;
	transform: scaleX(1.1);
	transition: ease-in-out 0.2s;
}


/* Media breakpoints */

@media screen and (max-width: 900px) {
	.deck{
		min-height: 660px;
	}
	.deck .card {
		width: 16vw;
		height: 125px;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 60vw;
	}
}

@media screen and (max-width: 680px) {
	.deck {
		width: 90vw;
		min-height: 600px;
	}
	.deck .card {
		width: 18vw;
		height: 100px;
	}
	.deck .card.match,
	.deck .card.show,
	.deck .card.wrong {
		font-size: 2em;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 70vw;
	}
}

@media screen and (max-width: 500px) {
	.deck {
		width: 98vw;
		min-height: 550px;
	}
	.deck .card {
		width: 19vw;
		height: 90px;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 80vw;
	}
}

@media screen and (max-width: 400px) {
	.deck {
		width: 98vw;
		min-height: 450px;
		padding: 10px;
	}
	.deck .card {
		width: 20vw;
		height: 80px;
	}
	.modal-buttons {
		font-size: 1.5em;
	}
	.modal-content {
		width: 90vw;
	}
}